docker
graphql-server
docker-compose.txt
docker-compose.yml

client/node_modules
client/dist
client/.env
client/Dockerfile
client/Dockerfile.prod
client/Dockerfile.test
client/package-lock.json


server/node_modules
server/.env
server/Dockerfile
server/package-lock.json

/client/node_modules
/client/dist
/client/.env
/client/Dockerfile
/client/Dockerfile.prod
/client/Dockerfile.test
/client/package-lock.json


/server/node_modules
/server/.env
/server/Dockerfile
/server/package-lock.json